#seta,#head{
  height: 120px;
  width: 120px;
}
#head{
  border-style: solid;
  border-top:2px;
  border-left:2px; 
  border-right: 2px;
  border-color: black;
  margin-bottom: 35px;
}

h4{
  margin-top: 15px;
}
select{
  width: 60%;
  height: 40px;
  font-size: 30px;
}
button{
  margin-top: 20px;
}
input.form-control{
  width: 100px;
}
.col-xs-6{
  margin: 20px;
}